
body {
  background-color: #343759;
  color: white;
  font-family: Arial, sans-serif
}

h1 {
  font-family: "Lugrasimo";
}

header {
  text-align: center; 
  color: #ffdf4f;
  padding: 2rem;
  text-shadow: 0px 2px 4px black;
  margin: 2rem;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}

.path {
  background: linear-gradient(lavender, #d3cedb);
    border: 4px solid white;
    color: black;
    border-radius: 12px;
    width: 350px;
    height: 600px;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 0 0 15px white;
    text-size: 0.9rem;
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
}

.path:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px 10px white;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.warriortext {
  color: #a32017;
  text-shadow: 1px 1px 3px #a36965;
}
.sorcerertext {
  color: #4d39cc;
  text-shadow: 1px 1px 3px #8e86c2;
}
.guardiantext {
  color: #268c60;
  text-shadow: 1px 1px 3px #74a89b;
}

footer {
    text-align: center;
    padding: 3rem;
    font-size: 1rem;
}

button {
    background: linear-gradient(#ba2f2f, #6b0e2d);
    color: white;
    margin: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Lugrasimo";
    text-align: center;
    display: block;
    margin: 3rem auto;
    
}

button:hover {
  transform: scale(1.1);
  background: linear-gradient(#6b0e2d, #ba2f2f);
}

button:active {
transform: scale(1.03);
  background: #661d1d;
}
